<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>CS260 Group Chat</title>
    <link rel="stylesheet" href="./stylesheets/devices.min.css" type="text/css">
    <link rel="stylesheet" href="./stylesheets/style.css" type="text/css">

  </head>
  <body style="display:flex;flex-direction:row;">

    <div class="marvel-device iphone-x" style="margin: 0 auto;">
    <div class="notch">
        <div class="camera"></div>
        <div class="speaker"></div>
    </div>
    <div class="top-bar"></div>
    <div class="sleep"></div>
    <div class="bottom-bar"></div>
    <div class="volume"></div>
    <div class="overflow">
        <div class="shadow shadow--tr"></div>
        <div class="shadow shadow--tl"></div>
        <div class="shadow shadow--br"></div>
        <div class="shadow shadow--bl"></div>
    </div>
    <div class="inner-shadow"></div>
    <div class="screen">
        <div class="screencontent">

          <div class="messages" id="messages">

            <% for(message of messages){ %>

              <div class="<%=(message.username == username)? 'mymessage' : 'othermessage'%>">
                <span class="messageusername"><%=message.username%></span>
                <span class="messagecontent"><%=message.content%></span>
              </div>

            <% } %>


          </div>

          <div class="messagebox">
              <input type="text" class="messageinput" placeholder="iMessage" id="messageinput"/>
              <button class="btn messagesend" onclick="sendMessage()">↑</button>
          </div>


        </div>
    </div>
</div>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script>
  var element = document.getElementById("messages");
  element.scrollTop = element.scrollHeight;


  function sendMessage(){
    $.ajax({
      type: "POST",
      url: "/messages",
      data: {
        text: $("#messageinput").val(),
        username: "<%=username%>"
      },
      success: (result) => {
        console.log("SENT"+result);
        $("#messageinput").val("");
      }
    });

  }



  function loadMessages(){

    let username = "<%=username%>";

    $.ajax({
      type: "GET",
      url: "/messages",
      success: (messages) => {

        let allmessages = "";
        for(message of messages){
          let mclass = (message.username == username)? 'mymessage' : 'othermessage';
          allmessages += "<div class='"+mclass+"'><span class='messageusername'>"+message.username+"</span><span class='messagecontent'>"+message.content+"</span></div>";
        }

        $("#messages").html(allmessages);

      }
    });

  }


 setInterval(loadMessages, 1000);
</script>

  </body>
</html>
